@use "~/styles/variables/colors" as colors;

.container {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border: 1px solid colors.$lightGray;
    text-align: left;
  }
}

.winner td {
  background: colors.$success;
  color: colors.$white;
}

.looser td {
  background: lightcoral;
  color: colors.$white;
}