@use "~/styles/variables/colors" as colors;

.container {
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

.table {
  border-collapse: collapse;
  border: 1px solid colors.$lightGray;

  th,
  td {
    border: 1px solid colors.$lightGray;
    padding: 10px;

    &:nth-child(2) {
      width: 100%;
    }
  }

  th {
    text-align: left;
    white-space: nowrap;
  }
}

.button {
  min-width: 60px;
  font-size: 24px;
}

.icon {
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: colors.$lightGray;
  font-size: 10px;

  &.iconSuccess {
    background: colors.$success;
    color: colors.$white;
  }
}