@use '~/styles/variables/colors' as colors;

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: colors.$gray1;
}

.content {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid colors.$gray2;
  border-radius: 3px;
  padding: 20px;
  background: colors.$white;
}

.headline {
  margin-bottom: 20px;
}
