.container {
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

.buttons {
  display: flex;

  a:not(:last-child) {
    margin-right: 10px;
  }

  button:not(:last-child) {
    margin-right: 10px;
  }
}
