@use '~/styles/variables/colors' as colors;

.container {
  padding-left: 200px;
}

.sidebar {
  z-index: 5;
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  bottom: 0;
  border-right: 1px solid colors.$gray2;
  padding: 20px;
  background: colors.$gray1;
}

.button {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.content {
  padding: 20px;
}