@{
    ViewData["Title"] = "Aimrank";
}

<div class="content">
    <div class="column">
        <h3>Scoreboard</h3>
        <div id="scoreboard"></div>
    </div>
    <div class="column">
        <h3>Actions</h3>
    </div>
</div>

