@{
    ViewData["Title"] = "Aimrank";
}

<main>
    <h1>Aimrank</h1>
    <p>All tracked in-game events will be presented here:</p>
    <div class="content">
        <div class="column">
            <ul id="events"></ul>
        </div>
        <div class="column">
            <div class="logs">
                <code>
                    <pre id="logs"></pre>
                </code>
            </div>
        </div>
    </div>
</main>

